@*
!*
_CommonRedist/
Addons/
appacache/
battleye/
bliss/
ContaminatedLocations/
docs/
dta/
logs/
steamapps/
*.exe
*.dll
namalsk/*.txt
namalsk/*.ADM
namalsk/*.RPT
namalsk/*.MDMP
mpmissions/hardcore.namalsk/storage_*