@*
_CommonRedist/
Addons/
appcache/
battleye/
bliss/
ContaminatedLocations/
docs/
dta/
logs/
steamapps/
config/
dayzsetting.xml
*.exe
*.dll
*.gproj
namalsk/*.txt
namalsk/*.ADM
namalsk/*.RPT
namalsk/*.MDMP
namalsk/*.log
namalsk/VPPAdminTools/Logging/
mpmissions/hardcore.namalsk/storage_1/
mpmissions/hardcore.namalsk/storage_0/